<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


Active <input type="checkbox" id="active "  />
Inactive <input type="checkbox" id="inactive "  />
Pending <input type="checkbox" id="pending "  />

<table>
  <th> name </th>
  <th> location </th>
  <th> status </th>
  <th> buttonz </th>
    <%@products.each do |n| %>
      <tr class = "<%= n.status %>">
        <td><%= n.name %></td>
        <td class = "location"><%= n.location %></td>
        <td class = ><%= n.status%></td>
        <td><button></button></td>
      </tr>
    <% end %>
  </table>
